:root {
  --primary-color: #4D4D4D;
  --darken-color: #1D1D1D;
  --darken-color-2: #262626;
  --hover-bg: #2f2f2f;
  --primary-border: #4D4D4D;
  --info-modal-bg: rgba(38, 38, 38, 0.50);
  --red-color: #FA7272;
}